
<h1> <%= action_message %>
<hr>
<% if @subject.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <ul>
        <% @subject.errors.full_messages.each do |messages|%>
          <li> <%= messages %> </li>
        <% end %>
      </ul>
    </div>
<% end %>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Formulário para <%= form_message %></h6>
    </div>
    <div class="card-body">

        <%= form_with(model: [ :admins_backoffice, @subject ], local: true) do |form|%>

            <div class='form-group'>
                <%= form.label :description %>
                <%= form.text_field :description, class:'form-control', placeholder:'Digite a descrição'%>
            </div>
    

            <button type="submit" class="btn btn-success">Salvar</button>
        <% end %>
        
    </div>
</div>